@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&family=Zilla+Slab:wght@400;700&display=swap');

:root {
  --primary: rgb(211, 118, 98);
}

.color-scheme-1 {
  --primary: rgb(211, 118, 98);
}

.color-scheme-2 {
  --primary: rgb(36, 65, 63);
}

.color-scheme-3 {
  --primary: #f26419;;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: rgb(238, 235, 232);
}

#__next {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
