@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&family=Zilla+Slab:wght@400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  background-color: rgb(238, 235, 232);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
